// ~/.config/matugen/templates/niri-colors.kdl

layout {
    focus-ring {
        // Use "hex" to get the #RRGGBB format
        active-color "#f4b2e3"
        inactive-color "#4e444a"
    }

    border {
        active-color "#f4b2e3"
        inactive-color "#4e444a"
    }
}
