// ~/.config/matugen/templates/niri-colors.kdl

layout {
    focus-ring {
        // Use "hex" to get the #RRGGBB format
        active-color "#81d5cd"
        inactive-color "#3f4947"
    }

    border {
        active-color "#81d5cd"
        inactive-color "#3f4947"
    }
}
