@import "mocha.css";

/* === Base styling === */
* {
  font-family: "MesloLGS Nerd Font Mono Bold";
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background: rgba(24, 24, 37, 0.0); /* transparent Catppuccin tone */
  color: @overlay0;
  transition: background-color 0.1s ease;
  border-bottom: 1px solid rgba(108, 112, 134, 0.5);
}

/* === Buttons === */
button {
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -3px transparent;
}

button:hover {
  background: inherit;
  color: @mauve;
  border-top: 2px solid @mauve;
}

/* === Workspaces === */
#workspaces button {
  padding: 0 4px;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  color: @rosewater;
  border-top: 2px solid @rosewater;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: @mauve;
  border-top: 2px solid @mauve;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* === Modules appearance === */
#workspaces,
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#custom-vpn,
#custom-clipboard,
#custom-keyboard,
#custom-power {
  background: rgba(49, 50, 68, 0.6); /* translucent block */
  border-radius: 10px;
  margin: 4px 6px;
  padding: 6px 10px;
  border: 1px solid rgba(108, 112, 134, 0.3);
  transition: all 0.2s ease;
}

/* Hover effect */
#workspaces:hover,
#pulseaudio:hover,
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#wireplumber:hover,
#tray:hover,
#network:hover,
#mode:hover,
#scratchpad:hover,
#custom-vpn:hover,
#custom-clipboard:hover,
#custom-keyboard:hover,
#custom-power:hover {
  background: rgba(108, 112, 134, 0.3);
  box-shadow: 0 0 5px rgba(108, 112, 134, 0.4);
}

/* === Module accents === */
#clock {
  color: @maroon;
  border-bottom: 2px solid @maroon;
}

#pulseaudio {
  color: @blue;
  border-bottom: 2px solid @blue;
}

#network {
  color: @yellow;
  border-bottom: 2px solid @yellow;
}

#battery {
  color: @green;
  border-bottom: 2px solid @green;
}

#backlight {
  color: @peach;
  border-bottom: 2px solid @peach;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

#backlight:hover {
  color: @yellow;
  border-bottom: 2px solid @yellow;
  box-shadow: 0 0 6px rgba(255, 235, 150, 0.6);
}

#custom-clipboard {
  color: @peach;
  border-bottom: 2px solid @peach;
}

#custom-keyboard {
  color: @sky;
  border-bottom: 2px solid @sky;
}

#custom-power {
  color: @red;
  border-bottom: 2px solid @red;
}

#cpu {
  color: @peach;
  border-bottom: 2px solid @peach;
}

#memory {
  color: @green;
  border-bottom: 2px solid @green;
}

#temperature {
  color: @yellow;
  border-bottom: 2px solid @yellow;
}

