@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", monospace;
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

/* 1. Transparent Bar */
window#waybar {
    background-color: transparent;
    border-bottom: none;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* 2. Workspaces (Pill Container) */
#workspaces {
    background-color: @surface;
    color: @on_surface;
    margin: 4px 4px;
    padding: 5px 5px;
    border-radius: 24px;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: @secondary;
    border-radius: 24px;
    margin-right: 0px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: @surface_variant;
    color: @primary;
    box-shadow: none;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
    border-radius: 24px;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
}

/* 3. General Module Styling (The "Pill" Base) */
/* This applies to everything generally */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-mako,
#tray,
#mode,
#idle_inhibitor,
#custom-power,
#language {
    background-color: @surface;
    color: @secondary;
    padding: 5px 15px;
    margin: 4px 3px;
    border-radius: 24px;
}

/* 8. State Colors */
#battery.charging { color: #a6e3a1; }
#battery.warning { color: #fab387; }
#battery.critical { color: #f38ba8; }
#network.disconnected { color: #f38ba8; }
